<div class="relative max-w-md mx-auto my-4 p-4">
  <%# 編集ボタン %>
  <%= link_to edit_profile_path,
                class: "absolute top-4 right-4 text-xs text-gray-800" do %>
    <span class="material-symbols-outlined">edit</span>
  <% end %>
  <%# 名前 %>
  <div class="mb-4">
    <label class="block text-sm font-semibold text-gray-800 mb-1">名前</label>
    <%# ラベルの下に内容を表示 %>
    <p class="text-gray-800"><%= current_user.name %></p>
  </div>
  <%# 説明欄 %>
  <div class="mb-6">
    <p class="text-gray-800 whitespace-pre-wrap"><%= current_user.description %></p>
  </div>
  <%# ユーザー名 %>
  <div class="mb-6">
    <label class="block text-sm font-semibold text-gray-800 mb-1">ユーザー名</label>
    <p class="text-gray-800"><%= current_user.username %></p>
  </div>
  <%# メールアドレス %>
  <div class="">
    <label class="block text-sm font-semibold text-gray-800 mb-1">メールアドレス</label>
    <p class="text-gray-800"><%= current_user.email %></p>
  </div>
  <%# ログアウト %>
  <div class="mt-24">
    <%= button_to "ログアウト",
      destroy_user_session_path,
      method: :delete,
      data: { turbo_confirm: "⚠️ ログアウトしますか？" },
      class: "w-full py-2 rounded-md border border-red-500 text-red-500 hover:bg-red-500 hover:text-white transition cursor-pointer" %>
  </div>
</div>
