<%# モーダル %>
<%= turbo_frame_tag "modal" do %>
  <div class="fixed inset-0 z-300 flex items-center justify-center bg-black/40",
        data-controller="modal clipboard"
        data-action="click->modal#close"
    data-clipboard-text-value="<%= share_url_for %>">
    <div class="flex flex-col justify-center items-center relative max-h-[80svh] overflow-y-auto bg-white rounded-lg shadow-lg max-w-md w-full mx-4 p-6
                <%= share_modal_border %>",
          data-action="click->modal#stop">
      <%# × ボタン %>
      <button type="button"
              class="absolute top-2 right-2 text-gray-400 hover:text-gray-700 cursor-pointer"
              data-action="click->modal#close">
        <span class="material-symbols-outlined">close</span>
      </button>
      <%# ページタイトル %>
      <div>
        <h1 class="text-gray-800 mb-4 text-2xl font-bold text-center line-clamp-6
                  <%= share_page_title_marker %>">
          <%= share_page_title_for %>
        </h1>
      </div>
      <%# タイトル %>
      <div>
        <h1 class="text-gray-800 mb-6 text-xl font-bold text-center line-clamp-6">
          <%= share_title_for %>
        </h1>
      </div>
      <%# QRコード %>
      <% require 'rqrcode' %>
      <% qrcode = RQRCode::QRCode.new(share_url_for) %>
      <div class="flex justify-center mb-2">
        <%= raw qrcode.as_svg(module_size: 6, standalone: true) %>
      </div>
      <%# URLとコピーボタン %>
      <div class="text-gray-500 flex items-center mb-6">
        <span class="text-xs mr-1.5 break-all"><%= share_url_for %></span>
        <button data-action="click->clipboard#copy"
          data-action="click->clipboard#copy"
          class="flex items-center cursor-pointer hover:text-gray-700">
          <span data-clipboard-target="icon"
                class="material-symbols-outlined"
                style="font-size: 1.25rem;">
            content_copy
          </span>
        </button>
      </div>
      <%# X共有 %>
      <%= link_to "https://x.com/intent/post?text=#{CGI.escape(share_text_for)}",
                        target: "_blank",
                        rel: "noopener noreferrer",
                        class: "flex items-center justify-center w-full text-center bg-black text-white py-2 rounded-full mb-2" do %>
        <%= image_tag "x_logo.svg", class: "w-5 mr-2" %>
        <span class="font-semibold">Xでシェアする</span>
      <% end %>
    </div>
  </div>
<% end %>