<%# 検索結果などに表示されるタイトルと説明 %>
<% content_for :title, "#{@page_title} | みんなのタイムテーブル" %>
<% content_for :description, "#{@page_title}。" %>
<% if @events.any? %>
  <% if created? %>
    <%= link_to new_event_path,
                class: "mb-6 px-4 py-2 bg-gray-800 text-white rounded-full hover:bg-gray-900
                        inline-flex justify-center items-center" do %>
      <span class="material-symbols-outlined mr-1">add</span>
      <span class="font-semibold">タイムテーブルを作る</span>
    <% end %>
  <% end %>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @events.each do |event| %>
      <%= link_to show_timetable_path(event.event_key),
                              class: "block bg-white shadow-md rounded-lg p-4 border hover:shadow-xl hover:bg-gray-50 transition" do %>
        <%# タイトル %>
        <p class="text-lg font-semibold text-gray-800 line-clamp-1">
          <%= event.display_name %>
        </p>
        <%# 開催日 %>
        <p class="text-sm">
          開催日：
          <% if event.days.size >= 2 %>
            <%= event.days.first.date.strftime("%-Y/%-m/%-d") %>
            <span class="text-xs"><%= "ほか#{event.days.size - 1}日" %></span>
          <% elsif event.days.any? %>
            <%= event.days.first.date.strftime("%-Y/%-m/%-d") %>
          <% else %>
            未定
          <% end %>
        </p>
        <div class="flex items-center">
          <%# 作成者 %>
          <p class="mr-1 text-sm">
            @<%= event.user.username %>
          </p>
          <%# お気に入り数 %>
          <p class="text-sm flex justify-center items-center">
            <span class="material-symbols-outlined"
                            style="font-size: 1rem;">
              favorite
            </span>
            <%= event.event_favorites.size %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <% if created? %>
    <div class="min-h-[calc(100svh-21rem)] flex flex-col justify-center items-center">
      <div class="w-full max-w-md">
        <div class="flex flex-col justify-center items-center">
          <p class="mb-6 text-gray-500 text-lg">
            <% if current_user.name.present? %>
              <%= current_user.name %>さん、<br>
            <% end %>
            タイムテーブルを作ってみましょう！
          </p>
          <%= link_to new_event_path,
                              class: "flex justify-center items-center w-full px-4 py-2 bg-gray-800 text-white
                                      rounded-full hover:bg-gray-900 mb-8" do %>
            <span class="material-symbols-outlined mr-1">add</span>
            <span class="font-semibold">タイムテーブルを作る</span>
          <% end %>
        </div>
      </div>
    </div>
  <% elsif favorites? %>
    <div class="min-h-[calc(100svh-21rem)] flex flex-col justify-center items-center">
      <div class="w-full max-w-md">
        <div class="flex flex-col justify-center items-center">
          <p class="mb-6 text-gray-500 text-lg">
            タイムテーブルをお気に入り登録すると、ここに表示されます！
          </p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
