<div class="pb-[calc(5.25rem+env(safe-area-inset-bottom))]">
  <div class="relative max-w-md mx-auto p-4">
    <%# 編集ボタン（作成者本人のみ表示） %>
    <% if user_signed_in? && current_user == @event.user %>
      <%= link_to edit_event_path(@event.event_key),
                    class: "absolute top-4 right-0 text-xs text-gray-800" do %>
        <span class="material-symbols-outlined">edit</span>
      <% end %>
    <% end %>
    <!-- タイトル -->
    <h1 class="text-xl font-bold text-gray-800 mb-2">
      <%= @event.event_name_tag.name %>
    </h1>
    <!-- 説明欄 -->
    <div class="mb-2">
      <p class="text-gray-800 whitespace-pre-line"><%= @event.description %></p>
    </div>
    <%# 開催日 %>
    <div class="text-gray-800 mb-2">
      <div class="flex">
        <h2 class="mr-1 font-bold text-md">開催日</h2>
        <%# 開催日編集ボタン（作成者本人のみ表示） %>
        <% if user_signed_in? && current_user == @event.user %>
          <%= link_to edit_event_path(@event.event_key),
                            class: "text-gray-800" do %>
            <span class="material-symbols-outlined">edit</span>
          <% end %>
        <% end %>
      </div>
      <% if @days.present? %>
        <ul>
          <% @days.each do |day| %>
            <li class="list-disc list-inside"><%= day.date.strftime("%-Y/%-m/%-d") %></li>
          <% end %>
        </ul>
      <% else %>
        <p>開催日は未定です</p>
      <% end %>
    </div>
    <!-- 作成日時 -->
    <div class="text-xs text-gray-500 mt-4">
      作成日: <%= l(@event.created_at.to_date, format: :default) %>
    </div>
  </div>
</div>
<%# 下部タブメニュー %>
<%= render "layouts/bottom_tab" %>