<% if user_signed_in? && current_user == @event.user %>
  <%= link_to "出演者作成",
            new_event_performer_path(@event.event_key),
            class: "inline-block mb-6 px-4 py-2 bg-gray-800 text-white rounded hover:bg-gray-900" %>
<% end %>
<% if @performers.any? %>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 pb-[calc(5.25rem+env(safe-area-inset-bottom))]">
    <% @performers.each do |performer| %>
      <div class="relative bg-white shadow-md rounded-lg p-4 border
              hover:shadow-xl hover:bg-gray-50 transition">
        <%= link_to event_performer_path(@event.event_key, performer),
                    class: "block pr-12" do %>
          <%# 名前 %>
          <p class="text-lg font-semibold text-gray-800">
            <%= performer.performer_name_tag.name %>
          </p>
          <%# 説明文 %>
          <p class="text-gray-700 mt-2 line-clamp-2">
            <%= performer.description %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-gray-600">出演者はいません。</p>
<% end %>
<%# 下部タブメニュー %>
<%= render "layouts/bottom_tab" %>