<%# 検索結果などに表示されるタイトルと説明 %>
<% content_for :title, "#{@event.display_name} #{@page_title} | みんなのタイムテーブル" %>
<% content_for :description, "#{@event.display_name}の#{@page_title}。" %>
<% if user_signed_in? && current_user == @event.user %>
  <%= link_to new_event_performer_path(@event.event_key),
                class: "mb-6 px-4 py-2 bg-gray-800 text-white rounded-full hover:bg-gray-900
                        inline-flex justify-center items-center" do %>
    <span class="material-symbols-outlined mr-1">person_add</span>
    <span class="font-semibold">出演者を追加する</span>
  <% end %>
<% end %>
<% if @performers.any? %>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 pb-[calc(5.25rem+env(safe-area-inset-bottom))]">
    <% @performers.each do |performer| %>
      <%# お気に入り登録している出演者かどうかを判定 %>
      <% favorite = @favorite_performer_map[performer.id] %>
      <%# 出演者カード全体 %>
      <div class="relative">
        <%# 出演者詳細ページへのリンク %>
        <%= link_to event_performer_path(@event.event_key, performer),
                      class: "block bg-white shadow-md rounded-lg pl-4 pr-10 py-4 border hover:bg-gray-50 transition" do %>
          <%# 名前 %>
          <p class="mb-2 text-lg font-semibold text-gray-800 line-clamp-2"><%= performer.display_name %></p>
          <%# 出演情報 %>
          <% if performer.performances.exists? %>
            <div class="gap-1 flex flex-col text-gray-500">
              <div class="gap-1 flex items-baseline">
                <% performance = performer.performances.first %>
                <p class="text-sm">
                  <% if performance.day.present? %>
                    <%= performance.day.date.strftime("%-Y/%-m/%-d") %>
                  <% else %>
                    出演日：未定
                  <% end %>
                </p>
                <p class="text-sm">
                  <% if performance.start_time.present? && performance.end_time.present? %>
                    <%= "#{performance.start_time.strftime("%H:%M")}~" %>
                  <% else %>
                    時刻：未定
                  <% end %>
                </p>
                <p class="text-sm line-clamp-1">
                  <% if performance.stage.present? %>
                    <%= performance.stage.display_name %>
                  <% else %>
                    ステージ：未定
                  <% end %>
                </p>
              </div>
              <% if performer.performances.size >= 2 %>
                <p class="text-xs"><%= "ほか#{performer.performances.size - 1}件" %></p>
              <% end %>
            </div>
          <% else %>
            <p class="text-sm text-gray-500">出演情報がありません</p>
          <% end %>
        <% end %>
        <%# 出演情報が存在する場合のみ表示 %>
        <% if performer.performances.exists? %>
          <% if favorite %>
            <%# お気に入り解除ボタン %>
            <%= button_to performer_favorites_path(performer_id: performer.id),
                        method: :delete,
                        class: "absolute top-4 right-2 cursor-pointer" do %>
              <span class="material-symbols-outlined material-symbols-filled text-red-400">
                favorite
              </span>
            <% end %>
          <% else %>
            <%# お気に入り登録ボタン%>
            <%= button_to performer_favorites_path(performer_id: performer.id),
                        method: :post,
                        class: "absolute top-4 right-2 cursor-pointer" do %>
              <span class="material-symbols-outlined">
                favorite
              </span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-gray-600">まだ出演者がいません</p>
<% end %>
<%# 下部タブメニュー %>
<%= render "layouts/bottom_tab" %>