<% if user_signed_in? && current_user == @event.user %>
  <%= link_to new_event_performer_path(@event.event_key),
                class: "mb-6 px-4 py-2 bg-gray-800 text-white rounded-full hover:bg-gray-900
                        inline-flex justify-center items-center" do %>
    <span class="material-symbols-outlined mr-1">person_add</span>
    <span class="font-semibold">出演者を追加する</span>
  <% end %>
<% end %>
<% if @performers.any? %>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 pb-[calc(5.25rem+env(safe-area-inset-bottom))]">
    <% @performers.each do |performer| %>
      <%= link_to event_performer_path(@event.event_key, performer),
                    class: "bg-white shadow-md rounded-lg p-4 border hover:bg-gray-50 transition" do %>
        <%# 名前 %>
        <p class="text-lg font-semibold text-gray-800"><%= performer.performer_name_tag.name %></p>
        <%# 説明文 %>
        <p class="text-gray-700 mt-2 line-clamp-2"><%= performer.description %></p>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="text-gray-600">まだ出演者がいません</p>
<% end %>
<%# 下部タブメニュー %>
<%= render "layouts/bottom_tab" %>