<%= link_to "ステージ作成",
            new_event_stage_path,
            class: "inline-block mb-6 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700" %>
<% if @stages.any? %>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 pb-[calc(5.25rem+env(safe-area-inset-bottom))]">
    <% @stages.each do |stage| %>
      <div class="relative bg-white shadow-md rounded-lg p-4 border
                  hover:shadow-xl hover:bg-gray-50 transition">
        <%# カード全体：詳細ページ %>
        <%= link_to event_stage_path(@event.event_key, stage),
                    class: "block pr-12" do %>
          <%# タイトル %>
          <p class="text-lg font-semibold text-blue-600">
            <%= stage.stage_name_tag.name %>
          </p>
          <%# 説明文 %>
          <p class="text-gray-700 mt-2 line-clamp-2">
            <%= stage.description %>
          </p>
        <% end %>
        <%# 編集ボタン（作成者本人のみ表示） %>
        <% if user_signed_in? && current_user == @event.user %>
          <%= link_to edit_event_stage_path(@event.event_key, stage),
                class: "absolute top-4 right-4 text-xs text-gray-800" do %>
            <span class="material-symbols-outlined">edit</span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-gray-600">ステージはありません。</p>
<% end %>
<%# 下部タブメニュー %>
<%= render "layouts/bottom_tab" %>