<% if user_signed_in? && current_user == @event.user %>
  <%= link_to "ステージ作成",
            new_event_stage_path,
            class: "inline-block mb-6 px-4 py-2 bg-gray-800 text-white rounded hover:bg-gray-900" %>
<% end %>
<% if @stages.any? %>
  <% if user_signed_in? && current_user == @event.user %>
    <%= link_to "ステージを並び替える", sort_event_stages_path(@event.event_key), class: "text-sm text-blue-800 hover:underline" %>
  <% end %>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 pb-[calc(5.25rem+env(safe-area-inset-bottom))]">
    <% @stages.each do |stage| %>
      <%# カード全体：詳細ページ %>
      <%= link_to event_stage_path(@event.event_key, stage),
                  class: "bg-white shadow-md rounded-lg p-4 border hover:bg-gray-50 transition" do %>
        <%# タイトル %>
        <p class="text-lg font-semibold text-gray-800">
          <%= stage.stage_name_tag.name %>
        </p>
        <%# 説明文 %>
        <p class="text-gray-700 mt-2 line-clamp-2">
          <%= stage.description %>
        </p>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="text-gray-600">ステージはありません。</p>
<% end %>
<%# 下部タブメニュー %>
<%= render "layouts/bottom_tab" %>