<%# 下部タブメニュー %>
<div class="flex flex-col items-center fixed bottom-0 left-0 w-full h-21 p-1
    bg-white border-t z-200
      pb-[env(safe-area-inset-bottom)]">
  <small class="mb-1 text-center text-xs text-gray-500 whitespace-normal md:whitespace-nowrap">
    ※<%= link_to "みんなのタイムテーブル", root_path, class: "underline" %>で作られた非公式タイムテーブルです。
    必ず公式情報をご確認の上、ご利用ください。
  </small>
  <%# 下部タブメニュー（選択中のタブは自動で塗りつぶされる） %>
  <nav class="flex h-full w-full items-center">
    <ul class="flex w-full justify-around text-xs">
      <li>
        <%= link_to show_timetable_path(@event.event_key),
                class: "flex flex-col items-center gap-0.5" do %>
          <span class="material-symbols-outlined
                    <%= bottom_tab_filled_class(show_timetable_path(@event.event_key)) %>">
            table
          </span>
          <span class="text-gray-500">タイムテーブル</span>
        <% end %>
      </li>
      <li>
        <%= link_to event_performers_path(@event.event_key),
                          class: "flex flex-col items-center gap-0.5" do %>
          <span class="material-symbols-outlined
                    <%= bottom_tab_filled_class(event_performers_path(@event.event_key)) %>">
            artist
          </span>
          <span class="text-gray-500">出演者</span>
        <% end %>
      </li>
      <li>
        <%= link_to event_stages_path(@event.event_key),
                                    class: "flex flex-col items-center gap-0.5" do %>
          <span class="material-symbols-outlined
                    <%= bottom_tab_filled_class(event_stages_path(@event.event_key)) %>">
            map
          </span>
          <span class="text-gray-500">ステージ</span>
        <% end %>
      </li>
      <li>
        <%# イベント作成者本人は edit、他者は show に遷移 %>
        <% event_path_for_tab =
            (user_signed_in? && current_user == @event.user) ?
              edit_event_path(@event.event_key) :
              event_path(@event.event_key) %>
        <%= link_to event_path_for_tab,
              class: "flex flex-col items-center gap-0.5" do %>
          <span class="material-symbols-outlined
                <%= bottom_tab_filled_class(event_path_for_tab) %>">
            info
          </span>
          <span class="text-gray-500">イベント詳細</span>
        <% end %>
      </li>
    </ul>
  </nav>
</div>