<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "みんなのタイムテーブル" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Minnanotimetable">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# ステージング環境では検索エンジンにインデックスさせないための設定 %>
    <% if Rails.env.staging? %>
      <meta name="robots" content="noindex, nofollow">
    <% end %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Googleアイコン読み込み%>
    <link rel="stylesheet" 
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back,artist,calendar_add_on,close,edit,edit_calendar,event,info,map,moved_location,table" />
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%# メインヘッダー(@hidden_headerがtrueの場合は非表示) %>
    <%= render "layouts/header" %>
    <%# セカンドヘッダー（@page_title が設定されている場合のみ表示する） %>
    <%= render "layouts/secondary-header" %>
    <%# イベント用ヘッダー(@show_event_headerがtrueの場合のみ表示) %>
    <%= render "layouts/event-header" %>
    <%# 成功メッセージ %>
    <%= render "devise/shared/notice_messages" %>
    <%# メイン要素（@timetable_viewがtrueの場合はマージンやパディングを指定しない） %>
    <main class="<%= @timetable_view  ? "" : "m-2 pt-24" %>">
      <%= yield %>
      <!-- モーダル用 -->
      <%= turbo_frame_tag "modal" %>
    </main>
  </body>
</html>